*{
	margin: 0;
	padding: 0;
}

#contentDivision{

	height: 180px;
	width: 1280px;
	padding-top: 10px;
	padding-left: 60px;

}


.franja{
	background-color: #002582;
	height: 80px;
}

#btnExit{
	background:none!important;
	color: #FFFFFF;
	border:none;
	position: relative;
	left: 1324px;
	top: -63px;
	font-size: 16px;
	padding-top: 20px;

}

.title1{
	font-size: 20px;
	color: black;
	padding-left: 120px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;

}

.title2{
	font-size: 20px;
	color: black;
	padding-left: 120px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fecha1{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: center;
	padding-top: 10px;
}

#fecha2{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: center;
	padding-top: 10px;
}

.graphTable{
	text-align: center;
	height: 70px;
	padding-top: 20px;

}

.logo{
	padding-top: 10px;

}