<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <link rel="stylesheet" href="contenido.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script type="text/javascript">
            data = {{data | tojson}};
    </script>

    <script>
        function displayDate()
        {
            var today = new Date();
            today.setDate(today.getDate()-1);
            var yyyy = today.getFullYear().toString();

            var month = new Array();
            month[0] = "Enero";
            month[1] = "Febrero";
            month[2] = "Marzo";
            month[3] = "Abril";
            month[4] = "Mayo";
            month[5] = "Junio";
            month[6] = "Julio";
            month[7] = "Agosto";
            month[8] = "Septiembre";
            month[9] = "Octubre";
            month[10] = "Noviembre";
            month[11] = "Diciembre";

            var mm = month[today.getMonth()];
            var dd = today.getDate().toString();
                dd = dd.length==2?dd:"0"+dd;

            var yesterday =  dd+" de "+mm+" "+yyyy ;

            return yesterday;
        }
    </script>

</head>
<body>

    <div class = "franja" width="100% auto">

        <div id="logo">
            <img src="images/logo.png" width="150px" height="50px" class="center">
        </div>

        <form action = "/logout" method = "POST">
             <button type = "submit" value="submit" id = "btnExit" class="center">Logout</button>
        </form>

    </div>

	<div id="contentDivision" align="center" width="100% auto">

		<div class="graphTable">    
        	<div class="graphContainer fade">
                <div class="title1">
                    <p>Porcentaje de cumplimiento por tipo de profesional</p>
                    <p id="fecha1"></p>
                </div>
            	<canvas id="myChart"></canvas>
        	</div>
    	</div>

    	<div class="graphTable"> 
        	<div class="graphContainer fade">
                <div class="title2">
                    <p>Porcentaje de cumplimiento en hrs.</p>
                     <p id="fecha2"></p>
                </div>
                 <script>
                    displayDate();
                </script>
             	<canvas id="myChart6"></canvas>
        	</div>
    	</div>
    <!--
    	<div class="graphTable"> 
        	<div class="graphContainer fade">
             	<canvas id="myChart7"></canvas>
        	</div>
    	</div>
    	-->

    </div>
<script src = "logout.js"></script>
<script src = "tipoProf.js"></script>

</body>
</html>